.stack-list {
    list-style-type: none;
    font-size: 18pt;
    text-align: center;
}

.stack-node, .stack-base, .stack-leaf {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.stack-layer {
    display: inline-block;
}

.stack-node, .stack-leaf {
    padding: 5px;
    border: solid 2px black;
    background-color: #5487FF;
    border-bottom: hidden;
}

.stack-base {
    background-color: #DEDEDE;
	padding: 7px;
}

.stack-leaf-text {
}

.stack-node-text {
}

.stack-base-text {
}

.add-stack-toolbar {
	background-color: #C4C4C4;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 42;
}

#stack-display {
	position: relative;
	top: 30px;
}

.drop-stack-controls, .drop-leaf-controls {
	visibility: hidden;
    float: right;
	cursor: pointer;
	display: inline;
}

.stack-base:hover .drop-stack-controls, .stack-leaf:hover .drop-leaf-controls {
	visibility: visible;
}

