body {
    background-color: papayawhip;
}

.stack-list {
    list-style-type: none;
    font-size: 8pt;
    text-align: center;
    display: inline-block;
}

.node-maker li, .stack-node, .stack-base, .stack-leaf {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: -10px;
    margin-right: -10px;
}

.node-maker li {
    cursor: move;
}

.stack-layer {
    display: inline-block;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

.node-maker li, .stack-node, .stack-leaf {
    padding: 5px;
    border: outset 2px #0080B0;
    background-color: #00b6fe;
    margin-bottom: -2px;
}

.stack-base {
    background-color: #00FE5F;
    padding: 7px;
    border: outset 2px #B99A69;
}

.stack-node-input {
    font-size: 8pt;
	margin-bottom: -4px;
}

.stack-leaf {
    display: block;
}

.stack-leaf-text {
}

.stack-node-text {
}

.stack-base-text {
}

.stack-base-text input {
    display: inline-block;
}

.add-stack-toolbar {
    background-color: #C4C4C4;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 42;
}

#stack-display {
    position: relative;
    top: 30px;
}

.stack-controls, .leaf-controls {
    visibility: hidden;
    display: inline-block;
    /* float: right; */
    cursor: pointer;
}

.new-stack-controls {
    display: inline-block;
    cursor: pointer;
}

.stack-controls:hover, .leaf-controls:hover {
    visibility: visible;
}

.control-button {
    display: block;
}

.stack-base:hover .stack-controls, .stack-leaf:hover .leaf-controls {
    visibility: visible;
}

