<!DOCTYPE>
<html>

<head>
    <link rel="stylesheet" href="/static/stax/styles.css" />
</head>

<body>

<h2> Lol I am a Page </h2>

{% if all_stax %}

{% for stack_name, nodes in all_stax.items %}
<ul class="stack-list">
{% for node_name in nodes %}
    <li class="stack-node">
        <span class="stack-node-text">{{ node_name }}</span>
    </li>
{% endfor %}
    <li class="stack-base">
        <span class="stack-base-text">{{ stack_name }}</span>
    </li>
</ul>
{% endfor %}

{% else %}

<h4> I haz no Stax :( </h4>

{% endif %}

</body>

</html>

