<!DOCTYPE>
<html>

<head>
    <link rel="stylesheet" href="/static/stax/styles.css" />
</head>

<body>

<h2> Lol I am a Page </h2>

{% if all_stax %}

{% for stack in all_stax %}
<ul class="stack-list" style="width: {{ stack.width }}ex">
{% for node in stack.nodes %}
    <li class="stack-node">
        <span class="stack-node-text">{{ node }}</span>
    </li>
{% endfor %}
    <li class="stack-base">
        <span class="stack-base-text">{{ stack.name }}</span>
    </li>
</ul>
{% endfor %}

{% else %}

<h4> I haz no Stax :( </h4>

{% endif %}

</body>

</html>

