<!doctype html>
<html>

<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8"/>
    <title>Stax</title>
	<link rel="icon" type="image/png" href="/static/stax/icons/paperback-stack.png"/>
    <link rel="stylesheet" href="/static/stax/styles.css"/>
    <script type="text/javascript" src="/static/stax/util.js"></script>
    <script type="text/javascript" src="/static/stax/et.js"></script>
    <script type="text/javascript" src="/static/stax/dominator.js"></script>
</head>

<body>

<div class="add-stack-toolbar">
{% include "stax/widgets/addstacktoolbar.html" %}
</div>

<div id="stack-display">
{% if all_stax %}

{% for s in all_stax %}
<ul class="stack-list" id="target-stack-{{ s.id }}" style="width: {{ s.width }}ex">
{% include "stax/widgets/stack.html" with stack=s only %}
</ul>
{% endfor %}

{% else %}

<h4> I haz no Stax :( </h4>

{% endif %}
</div>

</body>

</html>

