    <li class="push-pop-controls">
        <button onclick="popStack({{ stack.id }})" id="pop-button-{{stack.id}}">pop</button>
        <button onclick="pushStack({{ stack.id }})" id="push-button-{{stack.id}}">push</button>
    </li>
    <li id="new-node-{{stack.id}}" class="stack-node" style="visibility: hidden" />
{% for node in stack.nodes %}
    <li class="stack-node">
        <span id="stack-node-{{stack.id}}-{{forloop.counter}}" class="stack-node-text" onclick="doSelect('stack-node-{{stack.id}}-{{forloop.counter}}')">{{ node }}</span>
    </li>
{% endfor %}
    <li class="stack-base">
        <span class="stack-base-text">{{ stack.name }}</span>
    </li>

